/* 謎の余白削除 */
body,p,ul,td,th{
    margin: 0;
    padding: 0;
	font-size: 15px;
	font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

/* Header (上部) */
.title{
	text-align: center;
	display: flex;
	position: fixed;
	width: 100vw;
	height: 3rem;
	z-index:20;
	font-size: 2rem;
	font-weight: bold;
	box-shadow: 0px 10px 15px black; 
	margin: -1.1rem 0rem 0rem 0rem;
	background: linear-gradient(rgb(196, 191, 191), white);
}

.link{
	color:#6699ff;
	font-weight: bold;
	font-size: 1rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}
/* menu */
#menu {
	top: 3rem;
	height: 97rem;
	width: 100vw;
	position: fixed;
	display: flex;
	flex-direction: column;
	text-align: center;
	display: none;
	z-index:10;
	white-space: 10;
	background: linear-gradient(rgb(207, 207, 207), white);
	animation-name: left_slidein;
	animation-duration: 0.3s;
	animation-timing-function: cubic-bezier(0,0,0,1);
}
#menu .spreadbtn {
	margin: 10px auto;
	width: 80vw;
	height: auto;
}

#menu .booth {
	background: linear-gradient(#aaa, #fff);
	margin: 10px auto;
	width: 80vw;
	height: 75vh;
	border-radius: 5px;
	overflow-x: auto;
	overflow-y: auto;
}

#menu .booth input {
	width: 65vw;
	margin: 10px auto;
	height: 1.5rem;
	font-size: 1rem;
	text-align: center;
}

#menu .booth button {
	width: 3rem;
	margin: 10px auto;
	height: 1.5rem;
}

#menu #booth-list {
	display: flex;
	flex-direction: column;
}

#booth-list div.booth-item {
	background: #00000068;
	color: #fff;
	margin: 10px auto;
	width: 75vw;
	height: fit-content;
	border-radius: 5px;
	padding: 10px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 3em;
}
div.booth-item .booth-img {
	margin: auto;
	width: 10vw;
	height: auto;
}
div.booth-item .booth-text {
	text-align: left;
	vertical-align: top;
	line-height: 1.5rem;
	margin: auto 1em;
}
div.booth-item .delete-space {
	margin: -3px;
}
div.booth-item button {
	height: 10rem;
	width: 10rem;
	margin: 10px auto;
}

/* map */
#map{
	height: 95vh;
	width: 99.9vw;
	border-radius: 0;
	z-index: 0;
	user-select: none;
}

#floorid{
	background: #ff9900;
	border-radius: 10px;
	width: 5rem;
	padding: 0.5rem 10px;
	margin: 0 auto;
}

/* UI */
div#left-side {
	height: 12rem;
	background: rgba(0, 0, 0, 0.75);
	padding: 5 5 5 5;
	position:fixed;
	bottom: 1rem; left:1rem;
	display: flex;
	flex-flow: column;
	justify-content: left;
	z-index:5;
}

div#right-side {
	height:auto;
	padding: 5px 5px 5px 5px;
	background: rgba(0, 0, 0, 0.75);
	position:fixed;
	bottom: 1rem; right:1rem;
	display: flex;
	flex-flow: column;
	justify-content: right;
	z-index:5;
}

#input{
	width:75px; height: 2rem;
	border: 2px solid #6699ff;
}

div#zooms{
	display: none; /* スマホ専用表示のためデフォルトは非表示 */
}

/* 「検索」「週程表」ボタン */
a.btn_05 {
	display: inline;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 45px;
	margin: auto;
	padding: 0.2rem 0.3rem;
	font-weight: bold;
	border: 2px solid #9f9f9f;
	color: #9f9f9f;
	user-select: none;
	transition: 0.3s;
}
a.btn_05:hover {
	color: #fff;
	background: #9f9f9f;
}



/* 1F Orange*/
a.btn_01 {
	display: inline;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 20px;
	margin: auto;
	padding: 0.5rem 0.7rem;
	font-weight: bold;
	border: 2px solid #ff9900;
	color: #ff9900;
	user-select: none;
	transition: 0.3s;
}
a.btn_01:hover {
	color: #fff;
	background: #ff9900;
}

/* 2F Blue*/
a.btn_02 {
	display: inline;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 20px;
	margin: auto;
	padding: 0.5rem 0.7rem;
	font-weight: bold;
	border: 2px solid #6699ff;
	color: #6699ff;
	user-select: none;
	transition: 0.3s;
}
a.btn_02:hover {
	color: #fff;
	background: #6699ff;
}

/* 3F Green*/
a.btn_03 {
	display: inline;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 20px;
	margin: auto;
	padding: 0.5rem 0.7rem;
	font-weight: bold;
	border: 2px solid #66cc33;
	color: #66cc33;
	user-select: none;
	transition: 0.3s;
}
a.btn_03:hover {
	color: #fff;
	background: #66cc33;
}
/* 4F Red*/
a.btn_04 {
	display: inline;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 20px;
	margin: auto;
	padding: 0.5rem 0.7rem;
	font-weight: bold;
	border: 2px solid #ff3300;
	color: #ff3300;
	user-select: none;
	transition: 0.3s;
}
a.btn_04:hover {
	color: #fff;
	background: #ff3300;
}





/* Room Information */

div#information{
	width: 50vw;
	height: fit-content;
	top: 0%; left:0%;	
	background: rgb(61, 61, 61, 0.9);
	position: fixed;
	visibility: hidden;
	margin: 20% 25%;
	z-index:10;
	border-radius: 10px;
	font-weight: bold;
}

#info-pane{

	visibility: hidden;
}

div#info-text{
	vertical-align: middle;
	white-space: pre-line;
	color:#ffffff;
	margin-left: 3%;
}

#info-btn{
	visibility: hidden;
}




/* 使い方説明 */

div#tutorial{ 
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	top: 0%; left: 0%;
	background: rgb(61, 61, 61, 0.9);
	color:#fff;
	position: fixed;
	visibility: hidden;
	z-index:11;
	font-weight: bold;
	text-align: center;
	
}

img#cls_tutorial{
	height: 75vh;
	object-fit: contain;
	color:#fff;
}

.cls-buttons {
	align-self: center;
}

/*週程表*/
div#cls-table{
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	width: 100vw;
	height: 100vh;
	top: 0%; left:0%;
	background: rgb(61, 61, 61, 0.9);
	color:#fff;
	position: fixed;
	visibility: hidden;
	z-index:100;
	font-weight: bold;
	text-align: center;
	user-select: none;
}

/* 左寄せ専用タグ */
left{
	text-align: left;
}

/* 上記以外のボタン 「閉じる」など */
button {
	border: 0;
	border-radius: 5px;
	padding: 3px 10px;
	user-select: none;
}
button:active {
	background-color: rgb(170, 170, 170);
}

/* https://excellent.ne.jp/homepage/6562/より */

@media screen and (max-width:480px) {
	/*　画面サイズが480px以下の場合ここの記述が適用される = スマホ用表示*/
	div#zooms{
		display:flex;
		opacity: 80%;
		position:absolute;
		top: 15vh; right:8%;
		scale: 1.5;
	}

	#map{
		padding-top: 1.5%;
		height: 88vh;
		width: 99.9vw;
		border-radius: 0;
	}

	div#information{
		width: 90%;
		margin: 10% 5%;
	}
}

/* Animations */

@keyframes left_slidein {
	from {
		left: 100vw;
	} 
	to {
		left: 0vw;
	}
}