/* 謎の余白削除 */
body,p,ul,td,th{
    margin: 0;
    padding: 0;
	font-size: 15px;
	font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

/* Header (上部) */
.title{
	text-align: center;
	display: flex;
	position: fixed;
	width: 100vw;
	height: 3rem;
	z-index:20;
	font-size: 2rem;
	font-weight: bold;
	box-shadow: 0px 10px 15px black; 
	margin: -1.1rem 0rem 0rem 0rem;
	background: linear-gradient(rgb(196, 191, 191), white);
}

.link{
	color:#6699ff;
	font-weight: bold;
	font-size: 1rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

div#notify{
	display: none;
	flex-direction: row;
	justify-content: space-around;
	vertical-align: auto;
	text-align: center;
	height: 3rem;
	width: 95vw;
	background-color: #ffffff;
	left: 2.5vw; top: 7vh;
	position: fixed;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	animation-name: left_slidein;
	animation-duration: 0.3s;
	animation-timing-function: cubic-bezier(0,0,0,1);
}

/* menu */
#menu {
	top: 3rem;
	height: 97rem;
	width: 100vw;
	position: fixed;
	display: flex;
	flex-direction: column;
	text-align: center;
	display: none;
	z-index:10;
	white-space: 10;
	background: linear-gradient(rgb(207, 207, 207), white);
	animation-name: left_slidein;
	animation-duration: 0.3s;
	animation-timing-function: cubic-bezier(0,0,0,1);
}
#menu > .spreadbtn {
	margin: 10px auto;
	width: 80vw;
	height: auto;
}

#menu > .booth {
	background: linear-gradient(#aaa, #fff);
	margin: 10px auto;
	width: 80vw;
	height: 75vh;
	border-radius: 5px;
	overflow-x: auto;
	overflow-y: auto;
}

#menu > .booth input {
	width: 65vw;
	margin: 10px auto;
	height: 1.5rem;
	font-size: 1rem;
	text-align: center;
}

#menu .booth #booth-push {
	width: 3rem;
	margin: 10px auto;
	height: 1.5rem;
}

#menu #booth-list {
	display: flex;
	flex-direction: column;
}

#booth-list div.booth-item {
	background: #00000068;
	color: #fff;
	margin: 10px auto;
	width: 75vw;
	height: fit-content;
	border-radius: 5px;
	padding: 10px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px auto;
}
div.booth-item .booth-img {
	text-align: left;
	margin: auto;
	margin-left:1vw;
	width: 10vw;
	height: auto;
}
div.booth-item .booth-text {
	width: 60vw;
	height: fit-content;
	text-align: left;
	vertical-align: middle;
	line-height: 1.5rem;
	margin: auto;
	margin-left: 1vw;
}
div.booth-item .delete-space {
	margin-top: -3px;
	margin-bottom: -3px;
}
div.booth-item > button {
	height:2rem; 
	margin: auto; 
	margin-right:5vw; 
	width:4rem;
}

/* map */
#map{
	height: 95vh;
	width: 99.9vw;
	border-radius: 0;
	z-index: 0;
	user-select: none;
}

#floorid{
	background: #ff9900;
	border-radius: 10px;
	width: 5rem;
	padding: 0.5rem 10px;
	margin: 0 auto;
	vertical-align: top;
}

/* UI */
div#left-side {
	height: 12rem;
	background: rgba(0, 0, 0, 0.75);
	padding: 5 5 5 5;
	position:fixed;
	bottom: 1rem; left:1rem;
	display: flex;
	flex-flow: column;
	justify-content: left;
	z-index:5;
	border-radius: 0.5rem;
}

div#right-side {
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	align-items: center;
	width: 17rem;
	height: 58px;
	top:4rem;
	background: rgb(61, 61, 61, 0.9);
	color:#fff;
	position: fixed;
	visibility: visible;
	z-index:1;
	font-weight: bold;
	text-align: center;
	user-select: none;
	border-radius: 1rem;
	left: 50%;
  	transform: translateX(-50%);
}

#back-btn{
	content: "👈";
	 position: absolute;
	 width: 60px;
	 height: 40px;
	 top: 0px;
	 right: 45px;
	 min-width: 0;
	 margin-left:-0.4rem;
	 border:2px solid#ffffff;
	 border-radius:50%;
	 font-size:1.1rem;
	 font-weight: bold;
	 display:flex;
	 align-items: center;
	 justify-content: center;
	 cursor: pointer;
	 box-shadow: 0 1px 4px rgba(0,0,0,0.08);
	 transition: background 0.2s, color 0.2s;
	 position: relative;
	 padding: 0;
	

	}
	#back-btn::before{
	 content:"👈";
	 font-size: 1.0rem;
	 font-weight:bold;
	 display:block;
	 width:100%;
	 text-align:center;
	 line-height:1/2rem;
	}

#serchbtn{
	 animation: test-animation 1s 2s 1 forwards;
}

@keyframes nobiru{
100%{
	width:500px;
}

}

div#right{
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	align-items: center;
	width: 30rem;
	height: 58px;
	top:4rem;
	background: rgb(61, 61, 61, 0.9);
	color:#fff;
	position: fixed;
	visibility: hidden;
	z-index:1;
	font-weight: bold;
	text-align: center;
	user-select: none;
	border-radius: 1rem;
	left: 50%;
  	transform: translateX(-50%);
}

#input{
	width:500px; height: 2rem;
	border: 2px solid #6699ff;
	margin-left: -20px;
	z-index: 1;
}

#input-start{
	width:75px; height: 2rem;
	border: 2px solid #6699ff;
}

#input-goal{
	width:75px; height: 2rem;
	border: 2px solid #ff6666;
}

div#zooms{
	display: none; /* スマホ専用表示のためデフォルトは非表示 */
}

/* 「検索」「週程表」ボタン */
a.btn_05 {
	display: inline;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 45px;
	margin: auto;
	padding: 0.2rem 0.3rem;
	font-weight: bold;
	border: 2px solid #9f9f9f;
	color: #9f9f9f;
	user-select: none;
	transition: 0.3s;
	border-radius: 0.5rem;
}
a.btn_05:hover {
	color: #fff;
	background: #9f9f9f;
}



/* 1F Orange*/
a.btn_01 {
	display: inline;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 20px;
	margin: auto;
	padding: 0.5rem 0.7rem;
	font-weight: bold;
	border: 2px solid #ff9900;
	color: #ff9900;
	user-select: none;
	transition: 0.3s;
	border-radius: 0.5rem;
}
a.btn_01:hover {
	color: #fff;
	background: #ff9900;
}

/* 2F Blue*/
a.btn_02 {
	display: inline;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 20px;
	margin: auto;
	padding: 0.5rem 0.7rem;
	font-weight: bold;
	border: 2px solid #6699ff;
	color: #6699ff;
	user-select: none;
	transition: 0.3s;
	border-radius: 0.5rem;
}
a.btn_02:hover {
	color: #fff;
	background: #6699ff;
}

/* 3F Green*/
a.btn_03 {
	display: inline;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 20px;
	margin: auto;
	padding: 0.5rem 0.7rem;
	font-weight: bold;
	border: 2px solid #66cc33;
	color: #66cc33;
	user-select: none;
	transition: 0.3s;
	border-radius: 0.5rem;
}
a.btn_03:hover {
	color: #fff;
	background: #66cc33;
}
/* 4F Red*/
a.btn_04 {
	display: inline;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 20px;
	margin: auto;
	padding: 0.5rem 0.7rem;
	font-weight: bold;
	border: 2px solid #ff3300;
	color: #ff3300;
	user-select: none;
	transition: 0.3s;
	border-radius: 0.5rem;
}
a.btn_04:hover {
	color: #fff;
	background: #ff3300;
}





/* Room Information */

div#information{
	width: 50vw;
	height: fit-content;
	top: -150px; left:0%;	
	background: rgb(61, 61, 61, 0.9);
	position: fixed;
	visibility: hidden;
	margin: 20% 25%;
	z-index:10;
	border-radius: 10px;
	font-weight: bold;
}

#info-pane{

	visibility: hidden;
	
}

div#info-text{
	vertical-align: middle;
	white-space: pre-line;
	color:#ffffff;
	margin-left: 3%;
}

#info-btn{
	visibility: hidden;
}

#info {
	position: relative;
	display: inline;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 45px;
	margin: auto;
	padding: 0.2rem 0.3rem;
	font-weight: bold;
	border: 2px solid #9f9f9f;
	color: #9f9f9f;
	user-select: none;
	transition: 0.3s;
	left:center;
	bottom: center;
    z-index: 6;
	top: -27;

}
#info:hover {
	color: #fff;
	background: #9f9f9f;
}


#png{

	width: 480px;
	height: 280px;

}


/* 使い方説明 */

div#tutorial{ 
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100vw;
	height: 100vh;
	top: 0%; left: 0%;
	background: rgb(61, 61, 61, 0.9);
	color:#fff;
	position: absolute;
	visibility: hidden;
	z-index:11;
	font-weight: bold;
	text-align: center;
}
#tutorial > .cls-buttons {
	position: absolute;
	top:5rem;
	left: 0.5rem;
	z-index:12;
}
img#cls_tutorial{
	height: 75vh;
	object-fit: contain;
	color:#6699ff;
	margin: auto;
}

	 /*使い方ボタン？アイコン型*/
	#help-btn{
	 position: absolute;
	 width: 1.2rem;
	 height:1.2rem;
	 top:17px;
	 min-width: 0;
	 margin-left:-0.4rem;
	 background: #4fdcff;
	 border:2px solid#4fdcff;
	 color: #ffffff;
	 border-radius:50%;
	 font-size:1.1rem;
	 font-weight: bold;
	 display:flex;
	 align-items: center;
	 justify-content: center;
	 cursor: pointer;
	 box-shadow: 0 1px 4px rgba(0,0,0,0.08);
	 transition: background 0.2s, color 0.2s;
	 position: relative;
	 padding: 0;
	}
	#help-btn::before{
	 content:"？";
	 font-size: 0.8rem;
	 font-weight:bold;
	 display:block;
	 width:100%;
	 text-align:center;
	 line-height:1/2rem;
	}
	#help-btn-right-bottom:hover{
	 background: #6699ff;
	 color: #ffffff;
	}

	


img#cls_tutorial{
	height: 75vh;
	object-fit: contain;
	color:#6699ff;
}

.cls-buttons {
	align-self: center;
}
.tutorial-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  margin-top: 6rem;
}

.category-btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #6699ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.category-btn:hover {
  background-color: #4f7edc;
}


/*週程表*/
div#cls-table{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 22rem;
	height: 23rem;
	top: 8rem;
	background: rgb(61, 61, 61, 0.9);
	color:#fff;
	position: fixed;
	visibility: hidden;
	z-index:100;
	font-weight: bold;
	text-align: center;
	user-select: none;
	border-radius: 1rem;
	left: 50%;
  	transform: translateX(-50%);
}

/*経路検索用*/
div#route-panel{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 22rem;
	height: 10rem;
	top: 8rem;
	background: rgb(61, 61, 61, 0.9);
	color:#fff;
	position: fixed;
	visibility: hidden;
	z-index:100;
	font-weight: bold;
	text-align: center;
	user-select: none;
	border-radius: 1rem;
	left: 50%;
  	transform: translateX(-50%);
}

.route-input{
	text-align: center;
	width: 50px;
	border-radius: 10px;
	margin: 20px;
}

div.route-tab{
	float: left;
	text-align: center;
	display: flex;
	justify-content: center;
	position: fixed;
}

a.route-btn{
	display: inline;
	text-align: center;
	width: 45px;
	border-radius: 10px;
	margin: 10px;
	vertical-align: middle;
	text-decoration: none;
	padding: 0.3rem 0.4rem;
	font-weight: bold;
	border: 2px solid #9f9f9f;
	color: #9f9f9f;
	user-select: none;
	transition: 0.3s;
}

a.route-btn:hover {
	color: #fff;
	background: #9f9f9f;
}

/* 左寄せ専用タグ */
left{
	text-align: left;
}

/* 上記以外のボタン 「閉じる」など */
button {
	border: 0;
	border-radius: 5px;
	padding: 3px 10px;
	user-select: none;
}
button:active {
	background-color: rgb(170, 170, 170);
}

/* https://excellent.ne.jp/homepage/6562/より */

@media screen and (max-width:480px) {
	/*　画面サイズが480px以下の場合ここの記述が適用される = スマホ用表示*/
	div#zooms{
		display:flex;
		opacity: 80%;
		position:absolute;
		top: 15vh; right:8%;
		scale: 1.5;
	}

	#map{
		padding-top: 1.5%;
		height: 88vh;
		width: 99.9vw;
		border-radius: 0;
	}

	div#information{
		width: 90%;
		margin: 10% 5%;
		top:45px;
	}

	#png{

		width: 330px;
		height: 280px;
	
	}

	div#right{
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	align-items: center;
	width: 15rem;
	height: 58px;
	top:4rem;
	background: rgb(61, 61, 61, 0.9);
	color:#fff;
	position: fixed;
	visibility: hidden;
	z-index:1;
	font-weight: bold;
	text-align: center;
	user-select: none;
	border-radius: 1rem;
	left: 50%;
  	transform: translateX(-50%);
}

#input{
	width:300px; height: 2rem;
	border: 2px solid #6699ff;
	margin-left: -20px;
	z-index: 1;
}
}

/* Animations */

@keyframes left_slidein {
	from {
		left: 100vw;
	} 
	to {
		left: 0vw;
	}
}