/*body,p,ul,td,th{
    margin: 0;
    padding: 0;
}*/
div#container{
    transform-origin:0 0;
    scale: 1;
    position:relative;
    width: 1651px; height:1350px;
    left: 0px; top:0px;
}
#highlight{
    width: 80px;
    height: 80px;
    background: rgb(125, 235, 255);
    position: absolute;
    left: 0px; top: 0px;
    visibility: hidden;
    z-index: 1;
}
#cls-highlight{
    width: 80px;
    height: 80px;
    background: rgb(125, 255, 127);
    position: absolute;
    left: 0px; top: 0px;
    z-index: 1;
}
img#image{
    position:absolute;
    left: 0%; top: 0%;
    width: 1651px; height: 1350px;
    z-index: 2;

    /*保存の禁止*/
    pointer-events: none;
    /* SPの長押し禁止 */
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-touch-callout:none;
    -moz-user-select:none;
    user-select:none;
}

.show{
    animation: fadein 300ms ease-out 0s 1 normal forwards;
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

  /* ピンチ機能（仮） */
  #touchContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
  }

  #img {
    position: absolute;
    transform-origin: center;
    transition: transform 0.3s;
  }