/*body,p,ul,td,th{
    margin: 0;
    padding: 0;
}*/

div#container{
    transform-origin:0 0;
    scale: 1;
    position:relative;
    width: 1651px; height:1350px;
    left: 0px; top:0px;
}
#highlight{
    width: 80px;
    height: 80px;
    background: rgb(125, 235, 255);
    position: absolute;
    left: 0px; top: 0px;
    visibility: hidden;
    z-index: 1;
}
#cls-highlight{
    width: 80px;
    height: 80px;
    background: rgb(125, 255, 127);
    position: absolute;
    left: 0px; top: 0px;
    z-index: 1;
}
#start-highlight{
  width: 80px;
  height: 80px;
  background: rgb(125, 129, 255);
  position: absolute;
  left: 0px; top: 0px;
  visibility: hidden;
  z-index: 1;
}
#goal-highlight{
  width: 80px;
  height: 80px;
  background: rgb(255, 125, 125);
  position: absolute;
  left: 0px; top: 0px;
  visibility: hidden;
  z-index: 1;
}
img#image{
    position:absolute;
    left: 0%; top: 0%;
    width: 1651px; height: 1350px;
    z-index: 2;

    /*保存の禁止*/
    pointer-events: none;
    /* SPの長押し禁止 */
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-touch-callout:none;
    -moz-user-select:none;
    user-select:none;
}
img#image2{
    position:absolute;
    left: 0%; top: 0%;
    width: 1651px; height: 1350px;
    z-index: 0;

    /*保存の禁止*/
    pointer-events: none;
    /* SPの長押し禁止 */
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-touch-callout:none;
    -moz-user-select:none;
    user-select:none;
}
#canvas{
    position:absolute;
    left: 0%; top: 0%;
    width: 1651px; height: 1350px;
    z-index: 1;
}
.show{
    animation: fadein 300ms ease-out 0s 1 normal forwards;
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
  }
  
  body {
    margin: 0;
    background: #fff;
    color: #333;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 1em;
    background-color: #fff;
  }
  
  .outer {
    position: relative;
    width: clamp(300px, 100%, 600px);
    height: 400px;
    overflow: hidden;
    border: 3px solid #555;
    border-radius: 5px;
    background-color: #eee;
  }
  
  #panzoom {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  #panzoom img {
    width: auto;
    height: auto;
    vertical-align: bottom;
  }

#display {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  touch-action: auto;
  position: relative;
}

#container {
  position: absolute;
  transform-origin: 0 0;
}